*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    font-family: sans-serif;
    line-height: 2.0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
    background-image: url(img/airport-1822133_1920.jpg);
    backdrop-filter: blur(5px)  saturate(100%);
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}
.menu-bar{ 
    text-align: center;
    padding: 20px 15px;
    margin-left: 200px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.active,.menu-bar ul li:hover{
    background: #4898ff;
    border-radius: 3px;
}
.menu-bar fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;

}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0, 42, 56);
    margin-top: 15px;

}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}


.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-radius: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-radius: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:   #4898ff;
}
footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
} 
 
    
.menu-bar h1{
    margin-left: -1400px;
    margin-bottom: -80px;
    color: #fff; 
}

.book{ 
    padding: 50px;
}
.main-text h1{
    text-align: center;
    box-shadow: 0px 1px 1px black;
    font-weight:  600;
    margin-top: -780px;
}
.main-text h1 span{
    color: yellow;
    box-shadow: 0px 5px 5px -6px black;
    margin-top: -780px;

}
.book .row{
    margin-top: -980px; 
     
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
    font-size: 25px;
     
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 100px;
    margin-bottom: 100px;
    font-size: 25px;
}
.submit{
    width: 160px;
    font-size: 16px;
    background: darkgoldenrod;
    color: #fff; 
    transition: 0.5s;
    margin-top: 185px;
}
.submit:hover{
    width: 170px;
    background-color: yellow;
}
@media(max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}